- @page_title = "#{link_to "Galleries", admin_galleries_path} > Add New Gallery"

.row-fluid
  = render :partial => "/gluttonberg/admin/content/main/sidebar"
  .span9
    .row-fluid
      .page-header
        %h1
          = @page_title.html_safe
      .subnav

      = render :partial => "form", :locals => {:url => admin_galleries_path}