.DS_Store
*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
.svn
/spec/.DS_Store
*.gem

/public/test_assets/
/spec/dummy/log/*
/spec/dummy/public/test_assets/

/spec/dummy/tmp/*
*.1rb
/spec/dummy/log/*