- @window_title = "Settings"
- @page_title = "#{link_to "Configuration", admin_generic_settings_path} > Add a new setting"

.row-fluid
  = render :partial => "/gluttonberg/admin/settings/main/sidebar"
  .span9
    .row-fluid
      .page-header
        %h1
          = @page_title.html_safe
      .subnav
      = render :partial => "form", :locals => { :url => admin_generic_settings_path }