.restore-auto-save
  %h4
    Viewing older version
  %p
    You are currently viewing an older version of this #{@page_localization.blank? ? 'post' : 'page'}. Clicking update will publish this version, or #{link_to "click here", "?version="} to view the most recent revision.