- @page_title = "#{link_to @blog.name, admin_blog_articles_path(@blog)} > Add New Post"

.row-fluid
  = render :partial => "/gluttonberg/admin/content/main/sidebar"
  .span9
    .row-fluid
      .page-header
        %h1
          = @page_title.html_safe
      = render :partial => "form", :locals => {:url => admin_blog_articles_path}

